<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>



<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <rule name="flaskapi" stopProcessing="true">
                    <match url="api(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:5103/api/{R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>